.navbar{
	border-top: solid 2px #4267b2;
	background-color:  #4267b2;
	border-bottom: solid 2px #4267b2;
	
}

.navbar-brand{
	font-family: "Snell Roundhand, cursive";
	font-style: italic	;
	color : white;
}


.nav-item{
	color : white;
}

a:hover {
    color : black;
    text-decoration: underline
}
