<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registro del conductor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="conductor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="conductor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="conductor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="conductor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="conductor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="conductor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" href="css/standar.css">

<!-- LOS SCRIPTS DE APICLIENT Y APP -->

<script src="js/apiclient.js"></script>
<script src="js/app.js"></script>
	
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					
					<span class="login100-form-title p-b-34 p-t-27">
						REGISTRO DEL CARRO
					</span>
					
					<div class="wrap-input100 validate-input" data-validate = "Ingrese la placa del carro">
						<input id="placaCarroRegister" class="input100" type="text" name="placaCarro" placeholder="Placa del carro">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Ingrese el moodelo del carro">
						<input id="modeloCarroRegister" class="input100" type="text" name="modeloCarro" placeholder="Modelo del carro">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Ingrese la placa del carro">
						<input id="marcaCarroRegister" class="input100" type="text" name="nombres" placeholder="Marca del carro">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<div class="container-login100-form-btn">

						<button type="button" class="btn btn-light btn-outline-dark btn-lg"
							onclick="">
							Continuar
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>

</body>