<!DOCTYPE html>
<html lang="en"> 
<head>
		<title>Viajes Gratis</title>

		<th:block th:replace="navbarPasajero ::head"></th:block>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="perfil/linericon/style.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- main css -->
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">
		
</head>
<body>
		<div th:replace="navbarPasajero :: navbarPasajeroB"></div>
	</p>

	<!--================Home Banner Area =================-->
	<div class="card text-center">
			<div class="card-body">
				<h3 class="card-title">Envía tu código promocional y consigue viajes gratis</h3>
				<p class="card-text">Cada vez que un nuevo usuario se registre con tu código de invitación, su primer viaje será gratuito.</p>
			</br>
			<div class="row">
				<div class="col-md-4 pr-1"></div>
					<div class="col-md-4 px-1">
							<img src="../img/regalo.png" width="200" height="200">
							<div class="form-group">
								<label>Código promocional</label>
								<input type="text" class="form-control" disabled="" value="519cc3jfue">
							</div>
					</div>
			</div>
			<a href="#" class="btn btn-primary">Conseguir códigos</a>
			</div>
			</div>
</body>
</html>