<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:fragment="head">
        <title>Conductor</title>
        <meta charset="UTF-8">
        <script src="conductor/jquery/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="js/stomp.js"></script>
        <script src="conductor/jquery/jquery.min.js"></script>
        <script src="conductor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="conductor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/simple-sidebar.css" rel="stylesheet">
        <style>
			.list-group-item {
				background-color: #fff0;
			}
			
			.list-group-item-action {
				color: #ffffff;
			}

			.bg-light {
                background-color: #ffffff00!important;
            }
        </style>
    </th:block>
    <head>
    <body th:fragment="navbarBody"   style="background-image: url('images/bg-01.jpg');">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper"
             style="background: -webkit-linear-gradient(top, #000000, #c30000);">
            <div class="sidebar-heading" style="color:white">John David Ibañez</div>

            <div class="list-group list-group-flush">
                <a href="configuracion" class="list-group-item list-group-item-action ">Perfil</a>
                <a href="#" class="list-group-item list-group-item-action ">Viajes Disponibles</a>
                <a href="#" class="list-group-item list-group-item-action ">Mis Viajes</a>
                <a href="#" class="list-group-item list-group-item-action ">Events</a>
                <a href="login" class="list-group-item list-group-item-action ">Salir</a>
            </div>
        </div>
    </body>
</html>
