<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Chat</title>
		<meta charset="utf-8" />
		<th:block th:replace="navbarConductor ::head"></th:block>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/mainSubasta.css" />
		<link rel="stylesheet" href="css/styleChat.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/chat.css">  
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/responsive.css">
		<link rel="stylesheet" href="css/style.css">
	
	
		<style>
				ul::-webkit-scrollbar{
					width: 8px;
				}
				ul::-webkit-scrollbar-thumb{
					background:#068FA6;
					border-radius: 5px;
		
				}
				body::-webkit-scrollbar{
					width: 11px;
				}
				body::-webkit-scrollbar-thumb{
					background:#033A25;
					border-radius: 5px;
				}
				</style>
				
	</head>
	<body class="is-preload" onload='sb.init("true"); chat.init("true") ; stomp.init()'>
			<noscript>
				<h2>Sorry! Your browser doesn't support Javascript</h2>
			</noscript>
			<div th:replace="navbarConductor :: navbarConductorBody"></div>
		<!-- Header -->
		<!--
			<section id="header">
				<header>
					
					<h3 id="logo"><a>Evern Viajes</a></h3>
					<p>Encuentre el precio ideal para su viaje</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">Información del viaje</a></li>
						<li><a href="#two">Chat de la subasta</a></li>
						<li><a href="perfilConductor">Volver</a></li>				
					</ul>
				</nav>
			</section>
			-->
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<!-- One -->
							<section id="one">
								<div class="mapa main" data-position="center">
									<div class ="mp" id="map"></div>
								</div>
							</section>
							<!-- Two -->
							<section id="two">
								<div class="container">
									<div id= botonTerminar>
										<button id="terminarViaje"  class="btn btn-red" style="color : white ; text-align: center">TERMINAR VIAJE</button>
									</div>
									<div id="chat-page" class="card" style="height: 60vh; background-image: url('../img/chat.png'); width: 100%; ">
											<div class="chat-container">
												<div class="chat-header">
													<h2><i>EVERN</i></h2>
												</div>
												<div class="connecting">
													Connecting...
												</div>
												<ul id="messageArea">
									
												</ul>
											</div>
												<form id="messageForm" name="messageForm" nameForm="messageForm">
													<div class="form-group">
														<div class="input-group clearfix">
															<input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
															<button type="submit" class="primary">Send</button>
														</div>
													</div>
												</form>
										</div>
									</div>
							</section>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>
			</div>
			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/mainSubasta.js"></script>
			<script src = "js/subasta.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
   	 		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
			<script src="js/chat.js"></script>  
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjCqh3UjH1tQ3V04-J_F0GJJe3sBc5M9U&libraries=places">
			</script>
			<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
			<script src = "js/subastaSocket.js"></script>

	</body>
</html>