<!DOCTYPE HTML>
<html>
<head>
    <th:block th:replace="navbarConductor ::head"></th:block>

    <style>
	
		body {
	    background-color: #f5f5f5;
	    }
	
        #main-content {
            max-width: 940px;
            padding: 2em 3em;
            margin: 0 auto 20px;
            background-color: #f5f5f517;
            border: 1px solid #e5e5e50d;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    </style>
    <script src="js/stompConductor.js"></script>

</head>
<body>


    <div th:replace="navbarConductor :: navbarConductorBody"></div>

    </p>
    
    <div id="main-content" class="container">
            <div class="col-md-8">
                        <label for="connect">Viajes actulamente pedidos</label>
                        <p/>
                        <table id="conversation" class="table table-striped">
                            <thead>
                            <tr>
                                <th>lugarOrigen</th>

                                <th>lugarDestino</th>
                                <th>costo</th>
                            </tr>
                            </thead>
                            <tbody id="greetings">
                            </tbody>
                        </table>
            </div>
                <div class="col-md-4">
                            <button id="connect" class="btn btn-default" type="button">Buscar</button>
                            <button id="disconnect" class="btn btn-default" type="button" disabled="disabled">Disconnect
                            </button>
            </div>
    </div>
</body>
</html>